In [1]:
### Importing required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

In [18]:
df = pd.read_csv("ma_schools.csv")
df.sample(10)

,School Code,School Name,District Name,District Code,TOTAL_Enrollment,% English Language Learner,% Students With Disabilities,% Economically Disadvantaged,School Accountability Percentile (1-99)
885,1990505,Needham High,Needham,1990000,1659,0.5,15.6,5.5,85.0
1187,2730008,North Elementary,Somerset,2730000,506,0.0,10.1,22.7,54.0
982,2140505,Northbridge High,Northbridge,2140000,584,1.0,13.2,24.0,28.0
191,360325,Bourne Middle School,Bourne,360000,711,0.6,14.8,21.9,31.0
1194,2740111,E Somerville Community,Somerville,2740000,725,28.6,17.0,46.1,45.0
235,480505,Burlington High,Burlington,480000,1103,1.4,10.7,8.3,65.0
466,4400205,Community Day Charter Public School - Prospect,Community Day Charter Public School - Prospect...,4400000,400,40.8,10.5,48.3,89.0
545,8210605,Diman Regional Vocational Technical High,Greater Fall River Regional Vocational Technical,8210000,1395,1.9,9.8,36.1,47.0
800,1760505,Medford High,Medford,1760000,1174,7.6,15.6,24.8,60.0
233,460040,Pierce,Brookline,460000,854,14.9,8.9,9.5,84.0

The data needs to be preprocessed as the variables are on different scales. For K-Means, the proximity measure that is going to be used is Euclidean distance which is not scale invariant. Hence the variables need to be standardized. The categorical variables are removed. School code and school name is the unit of analysis and hence have to be removed. The district name information is contained within district code variable and so only the district code variable will be retained. The dataframe will finally undergo standardization.

In [19]:
### Preprocessing the data 
### Dropping unnecessary columns 
cols_to_drop = ["School Code", "School Name", "District Name"]
df = df.drop(columns = cols_to_drop)

### Standardizing the data
st = StandardScaler() 
df_process = pd.DataFrame(st.fit_transform(df))
### Setting the column names 
df_process.columns = [col for col in list(df.columns) if col not in cols_to_drop] 
df_process.head(5)

,District Code,TOTAL_Enrollment,% English Language Learner,% Students With Disabilities,% Economically Disadvantaged,School Accountability Percentile (1-99)
238,-0.835462,0.698578,-0.638954,-0.749368,-0.960629,0.046335
1222,0.051144,-0.801055,0.193966,-0.365004,1.712227,0.541692
763,-0.382646,2.057878,-0.685660,-0.709607,-0.997118,1.213962
1170,-0.005934,1.350712,-0.685660,-0.577067,-1.129393,1.603170
1302,1.911875,0.040940,-0.740150,-0.656591,-0.527316,0.364779
906,-0.253270,3.981261,1.252630,0.204916,1.274353,-1.758179
451,2.444600,-0.272744,-0.740150,-0.563813,-0.632223,0.400161
1243,0.051144,0.288586,0.201750,1.000153,1.871869,-0.908996
387,-0.649009,1.771710,-0.187465,0.642296,1.050855,-1.475118
1291,0.085391,-0.388312,-0.740150,-0.802384,-1.092903,0.364779

TypeError: unsupported operand type(s) for -: 'list' and 'list'